<!DOCTYPE html>

<meta charset=“utf-8”>

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<link rel='stylesheet' href='/styles/style.css'>

<style>

@charset "UTF-8";

</style>

<link rel="icon" type="image/png" href="/images/favicon.png"/>
<link rel="apple-touch-icon" href="/images/favicon.png"/>

<meta name="viewport" content="initial-scale=1.0">

<body id="{{ page.section }}">

<header>
	<div class="container">
	<a id="name" href="/">
		<img src="/images/Logo.svg" alt="Logo">
		Max
	</a><!-- End Name -->
	<nav>
		<a href="/" class="work">work</a>
		<a href="/art" class="art">Art</a>
		<a href="/about" class="about">About</a>
	</nav>
	</div><!-- End Header Container -->
</header>
