<!DOCTYPE html>

<meta charset=“utf-8”>

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

<link rel='stylesheet' href='/styles/style.css'>

<style>

@charset "UTF-8";

</style>

<link rel="icon" type="image/png" href="/images/favicon.png"/>
<link rel="apple-touch-icon" href="/images/favicon.png"/>

<meta name="viewport" content="initial-scale=1.0">

<body id="{{ page.section }}">

<!-- <nav id="myID" class="nav"> -->
<nav class="desktop">
  <a href="#schedule"><img src="/images/nav-schedule.svg" alt="Schedule"></a>
  <a href="#travel"><img src="/images/nav-travel.svg" style="max-height: 40px;" alt="Travel"></a>
  <a href="#hotels"><img src="/images/nav-hotels.svg" alt="Hotels"></a>
  <a href="#photos"><img src="/images/nav-photos.svg" alt="Photos"></a>
  <a href="#registry"><img src="/images/nav-registry.svg" style="max-height: 50px;" alt="Registry"></a>
  <a href="#rsvp"><img src="/images/nav-rsvp.svg" alt="RSVP"></a>
</nav>

<input class="burger-check" id="burger-check" type="checkbox">
<label for="burger-check" class="burger"></label>
<nav class="mobile">
  <a href="#schedule"><img src="/images/nav-schedule.png" alt="Schedule"></a>
  <a href="#travel"><img src="/images/nav-travel.png" alt="Travel"></a>
  <a href="#hotels"><img src="/images/nav-hotels.png" alt="Hotels"></a>
  <a href="#photos"><img src="/images/nav-photos.png" alt="Photos"></a>
  <a href="#registry"><img src="/images/nav-registry.png" alt="Registry"></a>
  <a href="#rsvp"><img src="/images/nav-rsvp.png" alt="RSVP"></a>
</nav>
