<!DOCTYPE html>

<meta charset=“utf-8”>

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<link rel='stylesheet' href='/styles/style.css'>

<style>

@charset "UTF-8";

</style>

<link rel="icon" type="image/png" href="/images/favicon.png"/>
<link rel="apple-touch-icon" href="/images/favicon.png"/>

<meta name="viewport" content="initial-scale=1.0">

<body id="{{ page.section }}">

<header>
	<div class="container">
	<a id="name" href="/">
		Tember &amp; Max
	</a><!-- End Name -->
	<nav>
		<a href="/" class="home">Home</a>
		<a href="/schedule" class="schedule">Schedule</a>
		<a href="/accommodations" class="accommodations">Accommodations</a>
		<a href="/travel" class="travel">Travel</a>
	</nav>
	</div><!-- End Header Container -->
</header>
