@charset "UTF-8";
 /*-----------------------------------------------------------------------------

          ████████  █████  ██████  ██      ███████      ██████  ███████
             ██    ██   ██ ██   ██ ██      ██          ██    ██ ██
             ██    ███████ ██████  ██      █████       ██    ██ █████
             ██    ██   ██ ██   ██ ██      ██          ██    ██ ██
             ██    ██   ██ ██████  ███████ ███████      ██████  ██

       ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ ███████
      ██      ██    ██ ████   ██    ██    ██      ████   ██    ██    ██
      ██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    ███████
      ██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██         ██
       ██████  ██████  ██   ████    ██    ███████ ██   ████    ██    ███████

--------------------------------------------------------------------------------

  ┌─ Global
  │  └─ Page Titles
  │
  ├─ Typography
  │  └─ Section Titles
  │  └─ Buttons
  │
  ├─ Layout
  │  └─ Containers
  │
  ├─ Components
  │  └─ Cards, Tiles
  │
  └─ Header / Footer
     └─ Headline, Strong, and Bold Text

For ascii art, I used ANSI Regular and 4Max from http://patorjk.com/software/taag/#p=display&v=0&f=4Max&t=Project

------------------------------------------------------------------*/


/* --------------------------------------------------------------

       ██████  ██       ██████  ██████   █████  ██
      ██       ██      ██    ██ ██   ██ ██   ██ ██
      ██   ███ ██      ██    ██ ██████  ███████ ██
      ██    ██ ██      ██    ██ ██   ██ ██   ██ ██
       ██████  ███████  ██████  ██████  ██   ██ ███████

-------------------------------------------------------------- */



* {
  padding: 0;
  margin: 0;
} /* Used as a reset for everything ever */

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* needs to stay at begining, so it can be overwritten. */
video, img {
  width: 100%;
}

.img-modal {
  position: relative;
}

.img-modal:hover {
  cursor: zoom-in;
}
body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: var(--eucalyptus)
}

/* body#play {
  background: url(/play/play-bg.jpg);
  background-size: cover;
} */
:root {
  --sunflower: #ffcf70; /*  */
  --sage: #a3c9a8; /*  */
  --eucalyptus: #69a297; /* Jungle */
  --sapphire: #055983; /* Navy */
}

.video {
  flex-basis: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: auto;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ytp-thumbnail .html5-stop-propagation {
  background-image: url(http://maxduggan.com/images/blog_bg.jpg) !important;
  background-color: #ccc !important;
}

input {
  cursor: pointer;
}

section {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-position: center;
  padding: 1rem 0;
  position: relative;
}
section.sunflower, .bottom-curve.sunflower {
  background: var(--sunflower) url(/images/sunflower-paper.jpg);
}
section.sage, .bottom-curve.sage {
  background: var(--sage) url(/images/sage-paper.jpg);
}
section.jungle, .bottom-curve.jungle {
  background: var(--eucalyptus) url(/images/jungle-paper.jpg);
}
section.navy, .bottom-curve.navy {
  background: var(--sapphire) url(/images/navy-paper.jpg);
}
.bottom-curve {
  width: 100%;
  background-position: center;
  mask-image: url(/images/bottom-curve.svg);
  mask-size: 101%;
  mask-repeat: no-repeat;
  mask-position: top;
    -webkit-mask-image: url(/images/bottom-curve.svg);
    -webkit-mask-size: 101%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top;
  height: clamp(20px,4vw,95px);
  margin-bottom: -5.6vw;
  z-index: 99;
  margin-top: -.1vw;
}



/*------------------------------------------------

      ████████ ██    ██ ██████  ███████
         ██     ██  ██  ██   ██ ██
         ██      ████   ██████  █████
         ██       ██    ██      ██
         ██       ██    ██      ███████

-------------------------------------------------

  • Choose a primary style of sans or sans-serif
  • Decide if the brand has a secondary contrast of the opposite
  • Scale should be based on visual differentiation between steps
  • I tend to use verdana for base work since it's simple and legible for body Copy
  • Alternate bold and normal and you go up the scale to provide differentiation

  ┌─ 44px Page Title / H1
  │  └─ Page Titles
  │
  ├─ 30px Section Title / H2
  │  └─ Section Titles
  │
  ├─ 26px Sub Title / H3
  │  └─ Paragraph / Body Text
  │
  ├─ 18px Label / H4
  │  └─ Paragraph / Body Text
  │
  └─ 14px Body Copy / P
     └─ Headline, Strong, and Bold Text

*/

.txt-center {
  text-align: center;
}

.txt-rt {
  text-align: right;
}

.txt-lt {
  text-align: left;
}

.txt-lg {
  margin: 1.5em .3em;
  font-size: clamp(1.2rem, 3.7vw, 1.4rem);
}

/* H E A D E R S
----------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: .03em;
  width: 100%;
}
h1,
h1 a:link,
h1 a:visited {
  flex: 0 0 100%;
  font-size: clamp(1.3rem,2.6vw,1.3rem);
  margin: 1em 0 .3em;
  color: white;
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
  text-align: center;
}
h1 a:hover {
  color: black;
}

h2,
h2 a:link,
h2 a:visited {
  width: 100%;
  font-size: clamp(1.3rem,4vw,1.5rem);
  margin: 1.3em 0 .3em;
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  text-align: center;
}
h2 a:hover {
  color: Black;
}
h2 img {
max-height: 80px;
}
h3, h3 a {
  width: 100%;
  font-size: clamp(.9rem,3.2vw,1.1rem);
  margin: 1.4em 0 .3em;
  color: var(--sage);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}
h3 a:hover {
  color: Black;
}
section.jungle h3 {
  color: white;
}
h4 {
  width: 100%;
  font-size: .9rem;
  margin: .7em 0 .6em;
  color: #333;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}
h4 a:hover {
  color: Black;
}

p {
  width: 100%;
  font-size: 1rem;
  margin: .5em 0;
  letter-spacing: .03em;
  line-height: 1.5em;
  color: white;
}

a img {
  border-width: 0;
}


a {
  color: var(--sunflower);
  text-decoration: none;
  font-weight: 400;
}

a:hover, a:focus {
  color: var(--primary);
  text-decoration-color: var(--primary);
}
body.touch a:hover, body.touch a:focus {
  color: currentColor;
  text-decoration-color: currentColor;
}
hr {
  height: 1px;
  border-top: solid 1px #999;
  border-bottom: none;
  clear: both;
}
b,
strong {
  font-weight: 700;
}

q,
blockquote {
  padding: 4%;
  display: block;
  clear: both;
  font-size: 22px;
  color: black;
}
q::before, blockquote::before {
  display: block;
  height: 24px;
  margin-left: -30px;
  font-size: 60px;
}
q::after, blockquote::after {
  display: none;
}
q .author {
  display: block;
  float: right;
  font-size: 16px;
  margin-top: 10px;
  color: #777;
}

ul {
  list-style: disc;
  padding: 0 0 0 20px;
  margin: 0 0 10px 0;
}
.ul_ {
  list-style: none;
}
.ul_ li {
  list-style: none;
  display: inline;
}
ol {
  list-style: decimal;
  padding: 0 0 0 20px;
  margin: 0 0 10px 0;
}



/*
      88""Yb 88   88 888888 888888  dP"Yb  88b 88 .dP"Y8
      88__dP 88   88   88     88   dP   Yb 88Yb88 `Ybo."
      88""Yb Y8   8P   88     88   Yb   dP 88 Y88 o.`Y8b
      88oodP `YbodP'   88     88    YbodP  88  Y8 8bodP'
*/

/* could these be refactored with currentColor? */

button, [type="submit"], [type="button"], [type="reset"], .button, .btn {
  display: inline-block;
  width: auto;
  height: auto;
  margin: .9em .8rem;
  padding: .6em 1.7em .55em;
  font-size: 1.2rem;
  border-radius: .5rem;
  -webkit-appearance: none;
  text-decoration: none;
  text-align: center;
  background-color: white;
  border: none;
  transition: color 350ms ease-in-out, background-color 350ms ease-in-out;
  font-weight: 700;
  letter-spacing: .03em;
}
button::after, [type="submit"]::after, [type="button"]::after, [type="reset"]::after, .button::after, .btn::after {
  display: none;
}
.btn-sm {
  font-size: 1rem;
}
.btn-lg {
  font-size: 1.4rem;
}
.btn-primary {
  background-color: var(--primary);
  color: white;
}
.btn-primary:hover, .btn-primary:focus {

}
.rsvp {
  width: 130px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 350ms ease-in-out;
}
.rsvp img {
  width: 100%;
}
.rsvp:hover, .rsvp:focus {
  width: 150px;
  right: 10px;
  top: 15px;
}
.btn-outline-primary {
  border: 2px solid var(--primary);
  color: var(--primary)
}
.btn-outline-primary:hover, .btn-outline-primary:focus {
  background-color: var(--primary);
  color: white;
}
.btn-light {
  background-color: white;
  color: #333;
}
.btn-light:hover, .btn-light:focus {
  background-color: var(--primary);
  color: white;
}
.btn-outline-light {
  background-color: initial;
  border: 2px solid white;
  color: white;
}
.btn-outline-light:hover, .btn-outline-light:focus {
  background-color: white;
  color: var(--primary)
}
.btn-dark {
  background-color: #555;
  color: white;
}
.btn-dark:hover, .btn-dark:focus {
  background-color: #333;
}
.btn-outline-dark {
  border: 2px solid #555;
  color: #555;
}
.btn-outline-dark:hover, .btn-outline-dark:focus {
  background-color: #555;
  color: white;
}

.btn-outline-disabled {
  border: 2px solid #bbb;
  color: #999;
  cursor: default;
}
.btn-outline-disabled:hover, .btn-outline-disabled:focus {
  /* background-color: #999;
  color: white; */
}

/* Spans full width of space */
.btn-block {

}
.form-field:focus-within+.btn-outline-disabled {
  border: 2px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
}
.form-field:focus-within+.btn-outline-disabled:hover {
  background-color: var(--primary);
  color: white;
}
body.touch button, body.touch [type="submit"], body.touch [type="button"], body.touch [type="reset"], body.touch .button, body.touch .btn {
  transition: none;
}

/*------------------------------------------------------------------------------

                ██       █████  ██    ██  ██████  ██    ██ ████████
                ██      ██   ██  ██  ██  ██    ██ ██    ██    ██
                ██      ███████   ████   ██    ██ ██    ██    ██
                ██      ██   ██    ██    ██    ██ ██    ██    ██
                ███████ ██   ██    ██     ██████   ██████     ██

--------------------------------------------------------------------------------

1. Set container or content class depending on need for sub division and left/right margins
2. Set size
3. Use standard html elements: h1, p, image, etc...

  ┌─ Header
  ├─ Main
  │  ├─ Containers
  │  │   ├─ Multi Column Content
  │  │   │  └─ html elements
  │  │   └─ Components
  │  └─ Single Column Content
  │      └─ html elements
  └─ Footer

*/

:root {
  --x-margin-l: 1rem;
  --x-doublemargin-l: calc(var(--x-margin-l) * 2);
  --y-margin-l: .6rem;
  --y-doublemargin-l: calc(var(--y-margin-l) * 2);
  --x-margin-m: .8rem;
  --x-doublemargin-m: calc(var(--x-margin-m) * 2);
  --y-margin-m: .4rem;
  --y-doublemargin-m: calc(var(--y-margin-m) * 2);
  --x-margin-s: .6rem;
  --x-doublemargin-s: calc(var(--x-margin-s) * 2);
  --y-margin-s: .2rem;
  --y-doublemargin-s: calc(var(--y-margin-s) * 2);
}

/* Default is large margin */
.fourteenforty, .tentwentyfour, .article, .full, .two-thirds, .half, .third, .fourth  {
  margin: var(--y-margin-l) var(--x-margin-l);
}
.margin-m {
  margin: var(--y-margin-m) var(--x-margin-m);
}
.margin-s {
  margin: var(--y-margin-s) var(--x-margin-s);
}
/* no margin */
.container {
  margin: 0;
}

main, .paralax, .fourteenforty, .tentwentyfour, .article, .full, .two-thirds, .half, .third, .fourth  {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-grow: 1; /* Default value is 0 */
  align-content: flex-start;
}
.paralax {
  width: 100%;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark p {
  color: white;
}

/* Parent container on all pages, except custom apps. This is the container for containers. */
main {
  width: 100%;
  flex: 0 0 auto; /* used for sticky footer (body direction is column) */
}

/* 1440 - Outside of paralax and heros, largest scanable width. Users shouldn't have to turn their head. */
.fourteenforty {
  width: 100%;
  max-width: 1440px;
  padding: 0 calc(50% - 720px - var(--x-doublemargin-l));
}
.fourteenforty.no-margin, .container.fourteenforty {
  padding: 0 calc(50% - 720px);
}
/* 1024 - Used for Most not full screen content */
.tentwentyfour {
  width: 100%;
  max-width: 1024px;
  padding: 0 calc(50% - 512px - var(--x-doublemargin-l));
}
.tentwentyfour.no-margin, .container.tentwentyfour {
  padding: 0 calc(50% - 512px);
}
/* 720 - Designed for best legibility of large amounts of text information */
.article {
  width: 100%;
  max-width: 720px;
  padding: 0 calc(50% - 360px - var(--x-doublemargin-l));
}
.article.no-margin, .container.article {
  padding: 0 calc(50% - 360px);
}
.full {
  flex: 0 0 calc(100% - var(--x-doublemargin-l));
}
.three-fourths {
  flex: 1 0 300px;
  min-width: calc(75% - var(--x-doublemargin-l));
  max-width: 720px;
}
.two-thirds {
  flex: 1 0 300px;
  min-width: calc(66% - var(--x-doublemargin-l));
  max-width: 720px;
}
.half {
  flex: 1 0 300px;
  min-width: calc(50% - var(--x-doublemargin-l));
  max-width: 720px;
}
.third {
  flex: 1 0 200px;
  min-width: calc(33% - var(--x-doublemargin-l));
  max-width: 580px;
}
.fourth {
  flex: 1 0 200px;
  min-width: calc(25% - var(--x-doublemargin-l));
  max-width: 430px;
}


/* video, .fourteenforty img, .tentwentyfour img, .article img, .full img, .two-thirds img, .half img, .third img, .fourth img  {
width: 100%;
} */

.img-caption {
  position: absolute;
  bottom: 0;
  display: none;
  width: calc(100% - 8px);
  color: #666;
  background-color: hsla(0,100%,100%,0.8);
  padding: 4px;
  font-size: .8rem;
  text-align: center;
  line-height: 1.5em;
}

div:hover .img-caption {
  display: block;
}



/* ----- Mobile ----- */
@media (max-width: 600px) {
  .order-flip div:nth-child(1) {
    order: 2;
  }
}/* End Media under 600px */

/*--------------------------------------

      ███    ██  █████  ██    ██
      ████   ██ ██   ██ ██    ██
      ██ ██  ██ ███████ ██    ██
      ██  ██ ██ ██   ██  ██  ██
      ██   ████ ██   ██   ████

--------------------------------------*/

nav {
  display: flex;
	flex: 0 0 auto;
  margin: 0 10px;
	flex-flow: row wrap;
  position: fixed;
  left: 20px;
  color: white;
  top: 18%;
  width: 160px;
  z-index: 100;
}
nav a {
  position: relative;
	padding: 3px 8px;
	text-decoration: none;
  transition: 350ms ease-in-out;
  margin: .5em 0;
  font-size: 1.2rem;
  color: white;
  width: 100%;
}
nav.mobile a {
    max-width: 180px;
    margin: 0.5em calc(50% - 180px);
}
nav a img {
  /* max-width: 120px; */
  max-height: 45px;
}
.hide {
  opacity: 0;
  left: -100%;
  transition: opacity 350ms ease-in-out;
}
.show {
  opacity: 1;
  left: 0;
}



.burger {
  background: var(--light);
  position: fixed;
  z-index: 999;
  top: 15px;
  left: 15px;
  padding: 10px 10px 0;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}

.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burger-check:checked ~ .burger:before {
  margin-top: 7px;
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

nav.mobile {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  background: var(--extra-light);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  z-index: 100;
  background: var(--sage);
  height: 100vh;
  width: 100vw;
  margin: 0;
  justify-content: center;
  align-content: center;
  display: flex;
  text-align: center;
}
.burger-check:checked ~ nav.mobile {
  max-height: 100vh;
  transition: max-height 0.5s ease-in-out;
  padding: 20px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.pointer {
  cursor: pointer;
}

.burger, nav.mobile {
  display: none;
}
@media (max-width: 970px) {
  nav.desktop {
    display: none;
  }
  .burger {
    display: block;
  }
  nav.mobile {
    display: flex;
  }
}

/*
      888888  dP"Yb   dP"Yb  888888 888888 88""Yb
      88__   dP   Yb dP   Yb   88   88__   88__dP
      88""   Yb   dP Yb   dP   88   88""   88"Yb
      88      YbodP   YbodP    88   888888 88  Yb
*/
footer {
  width: 100%;
  letter-spacing: .1em;
  display: flex;
  padding: 10px calc(50% - 512px);
  max-width: 1440px;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  background: var(--sapphire);
  color: white;
  font-size: .9rem;
}

footer .span {
  flex: 1 0 130px;
  margin: 10px;
}

footer span:nth-child(1) {

}
footer span:nth-child(2) {
  text-align: center;
}

footer span:nth-child(3) {

}


/*----------------------------------------------------------------------------------------

 ██████  ██████  ███    ███ ██████   ██████  ███    ██ ███████ ███    ██ ████████ ███████
██      ██    ██ ████  ████ ██   ██ ██    ██ ████   ██ ██      ████   ██    ██    ██
██      ██    ██ ██ ████ ██ ██████  ██    ██ ██ ██  ██ █████   ██ ██  ██    ██    ███████
██      ██    ██ ██  ██  ██ ██      ██    ██ ██  ██ ██ ██      ██  ██ ██    ██         ██
 ██████  ██████  ██      ██ ██       ██████  ██   ████ ███████ ██   ████    ██    ███████

----------------------------------------------------------------------------------------*/


.tile {
  display: block;
  flex: 1 0 160px;
  min-width: calc(25% - 20px);
  margin: 10px;
  height: 160px;
  background-size: cover;
  background-position: center;
}
.tile.double {
  min-width: calc(50% - 4px);
}
.tile a {
  display: flex;
  position: relative;
  height: clamp(150px,25vw,200px);
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  overflow: hidden;
  /* transition: background-blend-mode 350ms ease-in-out; */
}

.tile:hover a, .tile a:focus {
  /* background-blend-mode: overlay; */
}

.tile-overlay {
  opacity: 0;
  background: radial-gradient(rgba(0, 0, 0, 0.45) 0%,rgba(0, 0, 0, 0.28) 33%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 350ms ease-in-out;
}
body.touch .tile-overlay {
  opacity: 1;
}
.tile a:hover .tile-overlay, .tile a:focus .tile-overlay {
  opacity: 1;
  /* display: inline-block; */
}
.tile svg, .tile img.tile-logo {
  opacity: 0;
  transform: scale(.95);
  max-width: clamp(calc(60% - 20px),33vw,calc(70% - 20px));
  max-height: clamp(calc(35% - 20px),9vw,calc(45% - 20px));
  margin: 10px;
  transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
  fill: white;
}
.tile svg {
  width: 100%;
}
.tile-logo {
  /* fill: white; */
}
img.tile-logo {
  width: auto;
}
.tile:hover svg, .tile a:focus svg,
.tile:hover img.tile-logo, .tile a:focus img.tile-logo {
  opacity: 1;
  transform: scale(1);
}
.lock {
  width: 14px;
  margin: 0 8px 4px;
  bottom: 0;
  right: 0;
  position: absolute;
}
.title {
  display: flex;
  width: calc(100% - 20px);
  height: calc(100% - 10px);
  transform: translate(0%, 70%);
  padding: 5px 10px;
  left: 0;
  bottom: 0;
  position: absolute;
  align-items: flex-end;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  transition: transform 350ms ease-in-out;
  /* filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2)); */
}
#play .tile:hover .title, body#play.touch .title {
  transform: translate(0, 0);
}

body.touch .tile svg,
body.touch .tile img.tile-logo {
  opacity: 1;
  transform: scale(1);
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
}

/* More Content */
.nixon .nixon, .bcg .bcg, .citi .citi, .uwm .uwm, .puma .puma, .lazboy .lazboy, .twc .twc, .remesh .remesh, .nyandco .nyandco, .maxduggan .maxduggan, .sani .sani, .labaguette .labaguette, .bluecollar .bluecollar, .halloween .halloween, .sideroad .sideroad, .origin .origin {
  display: none;
}

#travel .third img {
    max-width: 180px;
    width: 60%;
}

.rsvp-box {
  overflow: hidden;
  width: clamp(375px, 50vw, 745px);
  z-index: 2;
}
.rsvp-iframe {
  margin-top: -200px;
  width: inherit;
}

.hidden-thank-you {
  width: clamp(337px, 44vw, 735px);
  text-align: center;
  position: relative;
  bottom: -96px;
  z-index: 1;
  margin-top: -50px;
}

/* ----- Mobile ----- */
@media (max-width: 613px) {
  .rsvp-iframe {
    margin-top: -217px;
  }


}/* End Media under 600px */
/*
         db     dP""b8  dP""b8 888888 .dP"Y8 .dP"Y8
        dPYb   dP   `" dP   `" 88__   `Ybo." `Ybo."
       dP__Yb  Yb      Yb      88""   o.`Y8b o.`Y8b
      dP""""Yb  YboodP  YboodP 888888 8bodP' 8bodP'

      888888  dP"Yb  88""Yb 8b    d8
      88__   dP   Yb 88__dP 88b  d88
      88""   Yb   dP 88"Yb  88YbdP88
      88      YbodP  88  Yb 88 YY 88
*/

#access-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0  30px 0;
  align-items: center
}

#access-form .form-field {
  position:relative;
  flex: 1 0 160px;
  margin: 20px 10px 10px 0;
  letter-spacing: .03em;
}

#access-form input[type="password"] {
  flex: 1 0 160px;
  width: 100%;
  padding:10px;
  border:none;
  font-size:18px;
  cursor: text;
}
.form-field::before {
  position: absolute;
  content: '';
  background: #ccc;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.form-field:focus-within::after {
  position: absolute;
  content: '';
  background: var(--primary);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  animation: 450ms ease-in-out nav-bar;
}

input:focus,
textarea:focus, #access-form input[type="password"]:focus {
  border: none;
  outline: none;
}

#access-form label {
  width: 100%;
  color:#999;
  font-size:18px;
  font-weight: 700;
  position:absolute;
  pointer-events:none;
  left:0;
  top:10px;
  transition: 350ms ease-in-out all;
}
#access-form input:focus ~ label, #access-form input:valid ~ label 		{
  top: -1.1em;
  font-size: 1rem;
  color: var(--primary);
}

.seal {
  max-height: 60vh;
  width: auto;
  max-width: 90vw;
}


@media screen and (max-width: 767px) {
  input, select, textarea {
    font-size: 16px;
  }
}
